<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用戶</title>

    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>

<div align="center">
    <h2>Add user Form</h2>
    <h2>新增用戶</h2>
    <form th:action="@{/createUser}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>姓名:</td>
                <td><input type="text" th:field="*{name}" placeholder="Enter name"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></td>
            </tr>
            <tr>
                <td>信箱</td>
                <td><input type="text" th:field="*{email}" placeholder="Enter email"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
            </tr>
            <tr>
                <td>電話:</td>
                <td><input type="text" th:field="*{tel}" placeholder="Enter telephone"></td>
                <td th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="error"></td>
            </tr>
            <tr>
                <td>性別:</td>
                <td><input type="radio" th:field="*{gender}" th:value="男">男</td>
                <td><input type="radio" th:field="*{gender}" th:value="女">女</td>
                <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error"></td>
            </tr>
            <tr>
                <td><button type="submit">新增資料</button></td>
                <td><button><a href="/Users">取消新增</a></button></td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>